/* ########### FONTS ############ */
@font-face {
  font-family: "digital7";
  src: url("../assets/fonts/digital-7.ttf");
}
@font-face {
  font-family: "nexaExtraLight";
  src: url("../assets/fonts/Nexa-ExtraLight.ttf");
}
@font-face {
  font-family: "nexaHeavy";
  src: url("../assets/fonts/Nexa-Heavy.ttf");
}
/* ############ BODY ############  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  min-width: 0;
}

body {
  background-color: #2C2C2C;
  font-family: "nexaHeavy";
}

/* ########### HEADER ########### */
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ############ MAIN ############ */
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ### SECTION CALCULATOR ### */
.calculator {
  height: 100vh;
  width: 100%;
}
.calculator .calculator-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator .calculator-content .calc-body {
  padding: 15px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  border: #412C50 10px solid;
  border-radius: 5px;
  background: #5E4B86;
  overflow: hidden;
}
.calculator .calculator-content .calc-body .calc-name div {
  display: flex;
  justify-content: space-between;
  font-family: "nexaExtraLight";
  font-size: 18px;
}
.calculator .calculator-content .calc-body .calc-screen {
  height: 140px;
  width: 100%;
  background-color: #456966;
  border: #412C50 solid 8px;
  border-radius: 5px;
  margin: 15px 0;
}
.calculator .calculator-content .calc-body .calc-screen div {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.calculator .calculator-content .calc-body .calc-screen div .screen-calc {
  max-width: 333px;
  overflow: hidden;
  font-family: "digital7";
}
.calculator .calculator-content .calc-body .calc-screen div #allCalc {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: right;
  font-size: 26px;
}
.calculator .calculator-content .calc-body .calc-screen div #actulyNbr {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: right;
  font-size: 64px;
}
.calculator .calculator-content .calc-body .calc-buttons {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.calculator .calculator-content .calc-body .calc-buttons .calc-buttons-row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.calculator .calculator-content .calc-body .calc-buttons .calc-buttons-row button {
  font-family: "nexaHeavy";
  color: #FFFFFF;
  font-size: 20px;
  width: 80px;
  height: 80px;
  box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.6);
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid white;
  background-color: #382C50;
  border: none;
}
.calculator .calculator-content .calc-body .calc-buttons .calc-buttons-row button:hover {
  box-shadow: 0px 15px 25px -5px rgba(51, 51, 51, 0.6);
  transform: scale(1.07);
  background-color: #514666;
}
.calculator .calculator-content .calc-body .calc-buttons .calc-buttons-row button:active {
  transition: all 0.1s ease;
  box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.4);
  transform: scale(0.98);
  background-color: #837B92;
}
.calculator .calculator-content .calc-body .calc-buttons .calc-buttons-row .operator {
  background-color: #F2D357;
}
.calculator .calculator-content .calc-body .calc-buttons .calc-buttons-row .operator:hover {
  background-color: #F4D96C;
}
.calculator .calculator-content .calc-body .calc-buttons .calc-buttons-row .operator:active {
  background-color: #F5DE81;
}
.calculator .calculator-content .calc-body .calc-buttons .calc-buttons-row .special {
  background-color: #412C50;
}
.calculator .calculator-content .calc-body .calc-buttons .calc-buttons-row .special:hover {
  background-color: #594666;
}
.calculator .calculator-content .calc-body .calc-buttons .calc-buttons-row .special:active {
  background-color: #71617C;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ########### FOOTER ########### */
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */

/*# sourceMappingURL=app.css.map */
